.card {
    text-align: center;
}

.card__borda {
    display: inline-block;
    color: var(--vermelho);
    background: #8E242410;
    border-radius: 16px;
    padding: 4em 4em;
    margin: 5em 15em;
}

.card__titulo {
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho);
}

.card__subtitulo {
    font-size: 36px;
    font-weight: 500;
    color: var(--cinza-escuro);
    padding: 1em 0 2em 0;
}

.avatar-nome {
    font-weight: 500;
    color: var(--cinza-escuro);
    padding: 1em 0 0.2em 0;
}

.avatar-descricao {
    font-size: 14px;
    color: var(--cinza-claro);
}